<!DOCTYPE HTML>
<html ng-app="techApp">
	<head>
		<title>TECH - Soluções Energéticas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
		<script src="app.js"></script>
	</head>
	<body ng-controller="AppController as ctrl" class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>Tech<br />
							Soluções Energéticas</h1>
						<p> 
							Projetos, Execução e Manutenção de geradores e usinas solares fotovoltaicas. 
						</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Tech</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">

							<li ng-repeat="menu in ctrl.menu" ng-class="{'active' : ctrl.tab=={{menu.id}} }"> 
							<a ng-click="ctrl.changeTab(menu.id)" >{{menu.text}}</a></li>
							<!-- <li class="active"><a href="generic.html">Projetos</a></li>
							<li><a href="elements.html">Cursos</a></li>  -->
						</ul>
						<ul class="icons">
							<li ng-repeat="social in ctrl.socialLinks">
								<a href="{{social.link}}" target="_blank" class="icon brands {{social.icon}}"><span class="label">{{social.label}}</span></a>
							</li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" ng-show="ctrl.tab == 1">
						<article class="post featured">
								<header class="major">
									
									<h2>Tech</h2>
									<p>
										A tech soluções energéticas começou suas funções no mercado desde 2013, atuando na área de energia elétrica, atuando com projetos, consultoria e execução.
										
										Nos últimos anos nos especializamos em projetos, execução, e manutenção de geradores e usinas solares fotovoltaicas. 
										<br >
										Nossa empresa também é especializada em ministrar cursos de instalador solar fotovoltaico, especializando vários alunos para trabalhar no ramo com a energia solar.
									</p>
								</header>
								<a class="image main"><img src="images/pic01.jpg" alt="" /></a>
								
						</article>						
						<section class="posts">
								<article>
									<header>										
										<h2><a >O Futuro<br />
										</a></h2>
									</header>
									<a  class="image fit"><img src="images/pic02.jpg" alt="" /></a>
									<p>
											Energia solar é produzir energia com responsabilidade e respeito ao meio ambiente
											A energia solar é a fonte de eletricidade cujo uso mais cresce no Brasil. Não só por ser limpa e atrativa para investimentos, mas também por permitir que cada consumidor produza sua própria energia e chegue a reduzir seus custos em até 90%. 
									</p>
									<!-- <ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul> -->
								</article>
								<article>
									<header>										
										<h2><a>Regulamentação<br />
										</a></h2>
									</header>
									<a class="image fit"><img src="images/pic03.jpg" alt="" /></a>
									<p>
											Regulamentada em 2012 pela Agência Nacional de Energia Elétrica (Aneel), a possibilidade de geração distribuída, em que a energia gerada e não consumida nas pontas do sistema vai para a rede elétrica, gerando créditos para quem produziu, vem trazendo mais e mais famílias e empresas para um modelo mais sustentável de consumo energético.
									</p>
									<!-- <ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul> -->
								</article>								
						</section>
					</div>
					<!-- Projetos -->
					<div id="main" ng-show="ctrl.tab == 2">											
						<section class="posts">
								<article>
									<header>										
										<h2><a href="#">Sebrae MT<br />
										</a></h2>
									</header>
									<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
									<p>
											No CSS e do Sebrae MT, foram implantadas duas microusinas de geração solar fotovoltaica tornando 100% autosuficiente em energia.
									</p>
									<!-- <ul class="actions special">
										<li><a href="#" class="button">Full Story</a></li>
									</ul> -->
								</article>															
						</section>
					</div>
					<!-- Contato -->
					<div id="main" ng-show="ctrl.tab == 3">											
							<section>
									<form method="post" action="#">
										<div class="fields">
											<div class="field">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field">
												<label for="email">Email</label>
												<input type="text" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="3"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
										</ul>
									</form>
								</section>
					</div>


					<div id="copyright">
						<ul><li>Design: <a href="https://www.custodio.dev" target="_blank">Custodio.dev</a></li></ul>
					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>